<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Sora:wght@400;600&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <title>@ViewData["Title"] | 2023.02.01</title>
</head>
<body>

    <header>
        <div class="container">
            <a href="/" class="logo">
                <img src="img/logo.png" alt="logo">
            </a>
            <nav>
                <button class="btn-primary">Entrar</button>
            </nav>
            <button class="menu-item menu-mobile">Menu mobile</button>
        </div><!--container-->
    </header>

    @RenderBody()          
   
    <footer>
        <div class="container">
            <div class="copy">
                <p>&copy; 2023 - Todos os direitos reservados. <strong>AlexandreScorreia</strong></p>
            </div><!--copy-->
        </div><!--container-->
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
