@{
    ViewData["Title"] = "Field";
}

<section class="s-hero">
    <div class="container">
        <div class="text">
            <span>Bem Vindo</span>
            <h1>FIELDWEBAPP</h1>
            <p>
                Sistema de armazenamento de procedimentos
            </p>
        </div>
    </div><!--container-->
</section><!--s-hero-->


    
